@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --red: #ca2c34;
    --bg-black: #1b1f22;
    --grey: rgb(52, 53, 53);
    --bg-white: whitesmoke;
}

* {
    font-family: 'Roboto', sans-serif;
}

button {
    text-transform: uppercase;
}

body {
    background: var(--bg-black);
    color: whitesmoke;
}

.swal2-styled {
    background: var(--red)!important;
}

.swal2-cancel {
    background: grey!important;
}

footer {
    text-align: center;
    margin-top: 7rem;
    padding: 2rem;
}