@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --red: #ea2417;
    --bg-black: #1b1f22;
    --grey: rgb(52, 53, 53);
    --bg-white: whitesmoke;
}

* {
    font-family: 'Roboto', sans-serif;
}

button {
    text-transform: uppercase;
}

body {
    background: url(../img/bgHorizontal.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
}

.swal2-styled {
    background: var(--red)!important;
}

.swal2-cancel {
    background: grey!important;
}

footer {
    text-align: center;
    margin-top: 7rem;
    padding: 2rem;
}

@media (max-width: 767.98px) {
    body {
        background: url(../img/bgVertical.svg);
    }
}