body {
    background: var(--bg-black);
    color: whitesmoke;
}

a {
    color: var(--red);
}

a:hover {
    color: red;
}

.error input {
    border: 0.2rem solid #ff6550;
}

.helpMessage {
    display: none;
}

.helpMessage-active {
    display: block;
}

.alertMessage {
    display: none;
}

.alertMessage-active {
    display: block;
}

.success input {
    border: 0.2rem solid rgb(164, 241, 47);
}

@media (max-width: 767.98px) {
    #form {
        width: 100%!important;
    }
}