#progressBarContainer {
    width: 100%;
    height: 0.5em;
    margin: 0 auto;
    border: none;
    background: #5a5857;
}

#progressBar {
    width: 0;
    height: 100%;
    background: #1f1e1e;
    animation: progress 3s linear infinite;
}

@keyframes progress {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes porcentaje {
    0% {
        content: '0%';
    }
    25% {
        content: '25%';
    }
    50% {
        content: '50%';
    }
    75% {
        content: '75%';
    }
    100% {
        content: '100%';
    }
}